.label {
    font-style: italic;
    color: blue;
}

.identifier {
    font-weight: bolder;
    color: blue;
}

.scrRef {
    margin-right: 0.25em;
    font-weight: bolder;
}

p {
    margin-top: 0.1em;
}

p.scripture {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

.verse {
    font-size: 10px;
    vertical-align: super;
}

.json {
    font-size: x-small;
}

.debugLabels {
    font-size: x-small;
    font-weight: bold;
}

.cv {
    font-size: smaller;
    font-weight: bold;
}

.bibleOptions {
    background-color: #ddf;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

